{% extends 'base/layout.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>
    <hr/>
    <form action="{{ url_for('register') }}" method="POST">
    {{ form.hidden_tag() }}

        {% for field in form %}
        <div class="form-group row">
            <div class="col-xs-10">
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="notification error">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            {{ field(placeholder=field.label.text, class="form-control") }}
            </div>
        </div>
    {% endfor %}

    <div class="form-group row">
        <button type="submit" class="btn btn-lg">Submit</button>
    </div>




    </form>
{% endblock %}